<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block head%} {%endblock%}

    
</head>
<body>
    <header>
        <!-- ICONS -->
        <div id="icons">
            <div class="logo" id="interest_icon">
                <a href="/">       
                    <img id="img_logo" src="{{url_for('static', filename='images/ukdsc.png')}}" alt="">
                </a>
            </div>
            {%block div%}
            {%endblock%}
     
            <div  style="right: 70px;position: absolute;" id="interest_icon">
                <a href="/">       
                    <img id="tBarIcon" src="{{url_for('static', filename='images/search.png')}}" alt="">
                </a>

            </div>
        </div>
    
    </header>
    
    {% block body%} {%endblock%}    
</body>
</html>