{% extends 'base.html' %}

<!-- HEAD TAG -->
{%block head%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')  }}">
<title>Search - UKDS</title>

{%endblock%} 

<!-- BODY TAG -->

{%block body%} 



<!-- SEARCH CONTENT -->
<div id="content"> 
    <div id="search-bar">
        <h2>Search Company</h2>
        <center id="searchbox">
            <form action="/" method="POST">
                <input id="company-search" type="text" name="company_search_content" placeholder="Search companies">
                <input id="btn" type="submit" value="Search"> 
            </form>
        </center>

    </div>

    <div id="searched-results">

        <p style="text-align:center">We have found {{resultCount}} results for you</p>

        {%for company in companies%}
        <div id="search-result"> 
            <center>
                <h4>{{company["title"]}}</h4>
                <a href="{{url_for('add_company_to_database', companyName=company['title'])}}">
                    <button id="btn_to_add">+</button>
                </a>
            </center>
        </div>
        {%endfor%}
        


        
    </div>
</div>

{%endblock%} 

