{% extends 'base.html' %}

<!-- HEAD TAG -->
{%block head%}

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')  }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css')  }}">
<title>My Interest - UKDS</title>

{%endblock%} 


{%block div%}
<div style=" position: absolute; right: 0; " id="interest_icon">
    <a href="/interest">       
        <img id="tBarIcon" src="{{url_for('static', filename='images/interest.png')}}" alt="">
        <div id="interest_count">{{numOfInterest}}</div>
    </a>
</div>
{%endblock%}
<!-- BODY TAG -->

{%block body%} 

<div id="content"> 
    <div id="search-bar">
        <h2>My Interest</h2>
    </div>

    <div id="searched-results">

        <center>
            <p>You have {{numOfInterest}} interests here</p>
        </center>
        {%if deleteMessage%}
        <center id="del_msg_box">
            <h1 id="del_msg">{{deleteMessage}}</h1>
        </center>
        {%endif%}

        {%for interest in interests%}
        <div id="search-result"> 
            <center>
                <h4>{{interest["company_name"]}}</h4>
                <a href="{{url_for ('delete_interest_from_database', id=interest['id'])}}">
                    <button id="btn_to_remove">+</button>
                </a>
            </center>
        </div>
        {%endfor%}
        


        
    </div>
</div>


{%endblock%} 

